<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.dao.mapper.SampleMapper">

    <!-- 通用查询映射结果 -->
    <insert id="insertBatch" parameterType="list">
        insert into sample (`name`) values
          <foreach collection="list" item="s" separator=",">
              (#{s.name})
          </foreach>
    </insert>

</mapper>
